#benefitCard {
  // background-image: url("../../../images/left-gradient.png"),
  //   url("../../../images/right-gragient.png"),
  //   url("../../../images/main-line.jpg");
  background-size: cover;
  padding-bottom: 25px;
  background-color: var(--hero);

}

.head-text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding-top: 70px;
  /* identical to box height */
  text-align: center;
  color: var(--texts);
}
.benefit {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card {
  width: 100%;
  max-width: 433px;
  height: 250px;
  background: var(--card-color);
  border: 1px solid #999999;
  backdrop-filter: blur(2.5px);
  border-radius: 20px;
  position: relative;
  &:hover {
    transition: 1s;
    box-shadow:var(--card-shadow);
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
  }

  &-img {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  &-line {
    width: 50px;
    height: 3px;
    background: #686464;
    border-radius: 20px;

    position: absolute;
    left: 25px;
    top: 165px;
  }
  &-head {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--texts);
    position: absolute;
    left: 25px;
    top: 125px;
  }
  &-txt {
    position: absolute;
    left: 25px;
    bottom: 24px;
    max-width: 385px;
    height: 44px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    color:var(--texts);
  }
}

@media screen and (max-width: 600px) {
  .benefit {
    display: flex;
    gap: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    margin-top: 15px;
  }
}
