// contact style started

#contact {
  background-size: cover;
  background-position: center;
  background-color: var(--hero);
}

.last_bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  background-image: url(../../../images/lastBg.png);
}
.contact_box {
  max-width: 1460px;
  min-height: 873px;
  background: var(--hero);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);

  border-radius: 20px;
  margin: 0 auto;
  padding: 60px 80px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.contact_left {
  width: 60%;
  height: auto;
}
.contact_right {
  width: 40%;
  height: auto;
}
.what_likes {
  width: 487px;
  min-height: 602px;
  background: var(--hero);
  box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  .likes_title {
    // width: 296px;
    height: 29px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--texts);
    text-align: center;
    padding-top: 40px;
  }
}
.contact_title {
  max-width: 640px;
  min-height: 117px;
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--texts);
}
@media screen and (max-width:500px) {
    body{
        overflow-x: hidden;
    }
}
// form start
.contact_input {
  width: 499px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px;
  &:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
}
.servise_text {
  max-width: 488px;
  height: 29px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--texts);
  margin-top: 40px;
  margin-bottom: 34px;
}

.checkmark {
  max-width: 198px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--texts);
  display: block;
}
.check_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  .check_box-right {
    max-width: 350px;
    display: flex;
    flex-direction: column;

    gap: 30px;
  }
}
.label_check {
  // max-width: 168px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.simple_card_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.simple_card {
  width: 150px;
  p {
    width: 141px;
    height: 29px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--texts);
    margin-top: 10px;
    text-align: center;
  }
}
.simple_card_top {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.simpleBg1 {
  background-image: url(../../../images/kofe1.png);
}
.simpleBg2 {
  background-image: url(../../../images/kofe2.png);
}
.simpleBg3 {
  background-image: url(../../../images/suv1.png);
}
.simpleBg4 {
  background-image: url(../../../images/choy1.png);
}
// form and

@media screen and(max-width:1400px) {
  .contact_box {
    gap: 30px;
    .what_likes {
      width: 427px;
      min-height: 602px;
    }
  }
  .contact_left {
    width: 55%;
    height: auto;
  }
  .contact_right {
    width: 45%;
    height: auto;
  }
}
@media screen and(max-width:1250px) {
  .contact_box {
    flex-wrap: wrap;
    gap: 20px;
    .what_likes {
      width: 427px;
      min-height: 602px;
    }
  }
  .contact_left {
    width: 100%;
    height: auto;
  }
  .contact_right {
    width: 100%;
    height: auto;
  }
  .contact_title {
    max-width: 640px;
    min-height: 117px;
    font-size: 30px;
  }
  .what_likes {
    margin-top: 20px;
    margin: 0 auto;
  }
}
@media screen and(max-width:789px) {
  .contact_box {
    padding: 10px 20px;
  }
  .check_box {
    padding-top: 30px;
    gap: 30px;
  }
  .contact_input {
    width: 95%;
  }
  .what_likes {
    max-width: 100%;
    margin-top: 20px;
    margin: 0 auto;
    .likes_title {
      height: auto;
      padding-top: 40px;
      font-size: 16px;
    }
  }
}
@media screen and(max-width:600px) {
  .contact_box {
    width: 360px;
    min-height: 1425px;
    flex-wrap: wrap;
    background: var(--hero);
    border: 1px solid #999999;
    backdrop-filter: blur(1px);

    border-radius: 20px;
  }
  .likes_title {
    width: 320px;
    height: 96px;
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
