// news style start

#news {
  padding: 50px 0;
  background: var(--hero);
  background-size: cover;
  background-position-y: -530px;
  background-position-x: -400px;
}

.news_title {
  height: 44px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--texts);
  text-align: center;
  margin-bottom: 36px;
}
.last_slick {
  list-style-type: none;
}
.last_slick_item {
  text-decoration: none;
}

.wrapper {
  width: 433px;
  height: 530px;
text-decoration: none;
  margin: 0 auto;
  background: var(--hero);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.carousel_top_img {
  width: 433px;
  height: 326px;

  // border: 1px solid #999999;
  backdrop-filter: blur(1px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}
.news_bg1 {
  background: url(../../../images/news1.png);
}
.news_bg2,
.news_bg4 {
  background: url(../../../images/news2.png);
}
.news_bg3 {
  background: url(../../../images/news3.png);
}
.card_carousel_body {
  padding: 20px 30px 24px;
  h4 {
    width: 373px;
    height: auto;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--texts);
  }

  .carousel_card_pr {
    width: 373px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--texts);
  }
}
.carousel_card_heading {
  margin-bottom: 39px;
}
.carousel_card_heading2 {
  height: 48px;
  margin-bottom: 15px;
}
.carousel_card_heading3 {
  height: 72px;
  margin-bottom: 15px;
}

.blog_pr1,
.blog_pr2 {
  height: 57px;
  margin-bottom: 21px;
}
.blog_pr3 {
  height: 38px;
  margin-bottom: 15px;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 64px;
    height: 19px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--texts);

  }
  img {
    width: 20px;
    height: 20px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 103px;
    height: 16px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--texts);

  }
}

@media screen and(max-width:1500px) {
  .wrapper {
    width: 403px;
    height: 530px;
  }
}
@media screen and(max-width:1400px) {
  .wrapper {
    width: 403px;
    height: 530px;
  }
}
@media screen and(max-width:600px) {
  .wrapper {
    height: auto;
    height: 550px;
  }
  .card_carousel_body {
    padding: 20px 30px 24px;
    h4 {
      width: 290px;
      height: auto;
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .carousel_card_pr {
      width: 290px;
      height: auto;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
    .carousel_card_heading {
      margin-bottom: 6px;
    }
    .blog_pr1,
    .blog_pr2 {
      margin-bottom: 15px;
    }
    .blog_pr3 {
      margin-bottom: 15px;
    }
    .carousel_top_img {
      width: 330px;
      height: 248px !important;

      backdrop-filter: blur(1px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      border-radius: 20px 20px 0px 0px;
    }
  }
}
@media screen and(max-width:600px) {
  .wrapper {
    width: 330px;
    height: 550px;
  }
}
// btn next and prev

.btn {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.slider_btn {
  // background-color:rgba($color: #ddd, $alpha: 0.6);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease-in-out;
  //
  width: 70px;
  height: 70px;

  background:var(--hero);
  backdrop-filter: blur(2px);
}
.slider_btn:hover {
  background-color: rgba($color: #ddd, $alpha: 1);
}
.slider_prev {
  left: -75px;
}
.slider_next {
  right: -75px;
}

// news style end
